.ss-card-country-plan {
    width: 100%;
    min-height: 310px;
    background-color: $brand;
    border-radius: $BORDER-RADIUS;
    border: 0;
    padding: 26px 24px 16px 24px;
    overflow: hidden;
    text-align: start;

    @include media-breakpoint-down(sm) {
        min-height: 270px;
    }

    &:hover {
        -webkit-box-shadow: 0 0 20px rgba(0, 60, 126, .6) !important;
        box-shadow: 0 0 10px rgba(0, 60, 126, .6) !important;

        .ss-circle-arrow-btn-holder .ss-circle-arrow-btn.ss-circle-btn-blue-card {
            @include arrow-icon($svg-brand);
            background-color: #ffffff;
        }

        //-webkit-transform: scale(1.01);
        //-moz-transform: scale(1.01);
        //-ms-transform: scale(1.01);
        //-o-transform: scale(1.01);
        //transform: scale(1.01);
        //-webkit-transition: all 0.3s 0s ease;
        //-moz-transition: all 0.3s 0s ease;
        //-o-transition: all 0.3s 0s ease;
        //transition: all 0.3s 0s ease;
    }


    .ss-plan-details-title {
        display: flex;
        align-items: center;

        @include media-breakpoint-down(sm) {
            padding-bottom: 32px;
        }


        & img {
            margin-top: 8px;
            margin-bottom: 8px;
            margin-inline-end: 12px;
            border: 1px solid $white;
            border-radius: 50%;
        }

        h4 {
            font-size: 26px;
            color: $white;
            display: -webkit-box;
            max-width: 100%;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }

    h5 {
        color: $white;
        @extend h4;
        margin: 0;
        font-weight: 500;
        margin-bottom: 6px;
    }

    .ss-price {
        position: relative;
        color: $white;
        font-size: 36px;
        font-weight: 400;
        line-height: calc(48px - 12%);

        .ss-price-decimal {
            top: -12px;
            font-size: 20px;
            margin: 0 2px;
        }

        @include media-breakpoint-down(sm) {
            font-size: 54px;

            .ss-price-decimal {
                top: -16px;
                font-size: 32px;
            }
        }
    }
}

.ss-card-zone-plan {
    @extend .ss-card-country-plan;
    background-color: $gray-medium;

    &:hover {
        -webkit-box-shadow: 0 0 20px rgba(50, 60, 70, .6) !important;
        box-shadow: 0 0 10px rgba(50, 60, 70, .6) !important;

        .ss-circle-arrow-btn-holder .ss-circle-arrow-btn.ss-circle-btn-dark-card {
            @include arrow-icon($svg-gray-medium);
            background-color: #ffffff;
        }
    }

    .zone-countries-list {
        color: $brand;
        text-decoration: underline;
    }

    & p {
        color: $gray-light;
    }
}
