//Common config for dropdown
.dropdown-menu {
    border-radius: $BORDER-RADIUS;
    border: 0;
    padding: 16px 12px;
    width: 240px;
    margin: 30px 0 !important;

    .dropdown-item {
        color: $gray-dark;
        cursor: pointer;
        text-align: start;
        padding-top: 7px !important;
        padding-bottom: 6px !important;

        &.active {
            //background-color: $bg-body;
            background-color: transparent;
            border-radius: 8px;
        }

        &:hover {
            background-color: $gray-medium;
            color: $white;
            border-radius: 8px;
        }
    }
}

.ss-dropdown-menu-with-arrow {
        .dropdown-item {
            &:hover {
                display: flex;
                justify-content: space-between;

                &::after {
                    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cpath fill-rule='evenodd' fill='%23#{$svg-white}' d='m6.585 14.587 5.579-5.59H-.004V6.996h12.168L6.585 1.407l1.411-1.41 7.997 8-7.997 8-1.411-1.41z'/%3E%3C/svg%3E%0A");
                    padding-top: 3px;
                    line-height: 10px;

                    [dir=rtl] & {
                        transform: scale(-1, 1);
                        padding-top: 4px;
                    }
                }
            }
        }
}
