.ss-footer {
    min-height: 480px;
    padding-bottom: 2rem;
    margin-top: 100px;
    background-color: $gray-dark;
    color: $footer-text;
    font-size: 12px !important;

    h6 {
        font-size: 12px;
        color: $white;
    }

    a {
        text-decoration: none;
        color: $footer-text;

        line-height: 1.5rem;

        &:hover {
            color: $white;
        }
    }

    .ss-footer-main-links {
        padding-top: 126px;
        margin-bottom: 60px;
    }

    .ss-footer-legals-links {
        a:not(:last-child) {
            margin-inline-end: 24px;
        }
    }

    .ss-footer-pay-services {
        padding-top: 10px;
        text-align: end;

        .ss-pay-services {
            img:not(:last-child) {
                margin-inline-end: 1.5rem;
            }
        }

        .ss-pay-cards {
            img:not(:last-child) {
                margin-inline-end: 32px;
            }

            margin-top: 32px;
        }

        @include media-breakpoint-down(md) {
            padding-top: 30px;
            text-align: start;
        }
    }

    .ss-footer-copyright {
        margin-top: 2rem;
        color: $footer-text-dark;
    }

    @extend .ss-collapsed-container;

    .ss-collapsed-navmenu {
        padding-top: 100px;
        padding-bottom: 1.5rem;

        .accordion-button {
            color: $white;

            &:focus, &:not(.collapsed) {
                color: $white;
                box-shadow: none;
            }

            &:after {
                @include collapse-menu-arrow($svg-footer-text);
            }
        }

        .accordion-body a {
            color: $footer-text;
        }
    }
}
