@mixin collapse-menu-arrow($color: $svg-gray-dark) {
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 10'%3E%3Cpath d='M0,1.9,1.88,0,8,6.18,14.12,0,16,1.9,8,10Z' fill='%23#{$color}' fill-rule='evenodd'/%3E%3C/svg%3E") center/16px auto no-repeat;
}

@mixin list-arrow-icon($color: $svg-brand) {
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 12'%3E%3Cpath d='M2.9,12,1.47,10.59,6.11,6,1.47,1.41,2.9,0,9,6Z' fill='%23#{$color}' fill-rule='evenodd'/%3E%3C/svg%3E") center/10px auto no-repeat;
}

@mixin navbar-hamburger($color: $svg-gray-dark) {
    background: transparent url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 15'%3E%3Cpath d='M20,3H0V0H20Zm0,3H0V9H20Zm0,6H0v3H20Z' fill='%23#{$color}' fill-rule='evenodd'/%3E%3C/svg%3E") center/20px auto no-repeat;
}

@mixin navbar-closeX-hamburger($color: $svg-white) {
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cpath d='M.26.27a.87.87,0,0,1,1.23,0L7,5.77,12.5.27a.87.87,0,1,1,1.25,1.22l0,0L8.23,7l5.5,5.5a.87.87,0,0,1,0,1.24.86.86,0,0,1-1.21,0L7,8.25l-5.5,5.5A.87.87,0,0,1,.26,12.51L5.76,7,.26,1.51A.86.86,0,0,1,.26.27Z' fill='%23#{$color}'/%3E%3C/svg%3E%0A") center/14px auto no-repeat;
}

@mixin arrow-icon($color: $svg-brand) {
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cpath fill-rule='evenodd' fill='%23#{$color}' d='m6.585 14.587 5.579-5.59H-.004V6.996h12.168L6.585 1.407l1.411-1.41 7.997 8-7.997 8-1.411-1.41z'/%3E%3C/svg%3E%0A") center/16px auto no-repeat;
}

@mixin edit-icon($color: $svg-gray-dark) {
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 16'%3E%3Cpath d='M8,16l4-4h6v4ZM13.88,5.87,10.13,2.12,12,.29a1,1,0,0,1,.7-.29,1,1,0,0,1,.71.29l2.34,2.34a1,1,0,0,1,0,1.41ZM3.75,16H0V12.25L9.06,3.19l3.75,3.75ZM2,13.08V14h.92L10,6.94,9.06,6Z' fill='%23#{$color}' fill-rule='evenodd'/%3E%3C/svg%3E") center/16px auto no-repeat;
}

@mixin email-icon($color: $svg-brand) {
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 40'%3E%3Cpath d='M3,36a2.89,2.89,0,0,1-2.1-.9A2.89,2.89,0,0,1,0,33V7A2.89,2.89,0,0,1,.9,4.9,2.89,2.89,0,0,1,3,4H37a2.89,2.89,0,0,1,2.1.9A2.89,2.89,0,0,1,40,7V33a3.08,3.08,0,0,1-3,3ZM20,20.9,3,9.75V33H37V9.75Zm0-3L36.8,7H3.25ZM3,9.75Z' fill='%23#{$color}' fill-rule='evenodd'/%3E%3C/svg%3E") center/20px auto no-repeat;
}

@mixin filter-icon($color: $svg-gray-light) {
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cpath fill-rule='evenodd' fill='%23#{$color}' d='M3,2H13L8,8.3ZM.25,1.61,6,9v6a1,1,0,0,0,1,1H9a1,1,0,0,0,1-1V9s3.72-4.8,5.74-7.39a1,1,0,0,0-.18-1.4A1,1,0,0,0,15,0H1A1,1,0,0,0,0,1,1,1,0,0,0,.25,1.61Z'/%3E%3C/svg%3E") center/16px auto no-repeat;
}

@mixin save-icon($color: $svg-gray-light) {
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18'%3E%3Cpath fill-rule='evenodd' fill='%23#{$color}' d='M14,0H2A2,2,0,0,0,0,2V16a2,2,0,0,0,2,2H16a2,2,0,0,0,2-2V4Zm2,16H2V2H13.17L16,4.83ZM9,9a3,3,0,1,0,3,3A3,3,0,0,0,9,9ZM3,3h9V7H3Z' /%3E%3C/svg%3E") center/18px auto no-repeat;
}

@mixin download-icon($color: $svg-gray-light) {
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23#{$color}' fill-rule='evenodd' d='M14,11v3H2V11H0v3a2,2,0,0,0,2,2H14a2,2,0,0,0,2-2V11ZM13,7,11.59,5.59,9,8.17V0H7V8.17L4.41,5.59,3,7l5,5Z'/%3E%3C/svg%3E") center/18px auto no-repeat;
}
@mixin faq-tab-center($color: $svg-white) {
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 215 60'%3E%3Cpath d='M197,42V18A18,18,0,0,0,179,0H36A18,18,0,0,0,18,18V42A18,18,0,0,1,0,60H215A18,18,0,0,1,197,42Z' fill='%23#{$color}'/%3E%3C/svg%3E") center/215px auto no-repeat;
}
@mixin faq-tab-side($color: $svg-white) {
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 197 78'%3E%3Cpath d='M179,42V18A18,18,0,0,0,161,0H18A18,18,0,0,0,0,18V78A18,18,0,0,1,18,60H197A18,18,0,0,1,179,42Z' fill='%23#{$color}'/%3E%3C/svg%3E") center/197px auto no-repeat;
}
@mixin faq-tab-side-rtl($color: $svg-white) {
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 197 78'%3E%3Cpath d='M18,42V18A18,18,0,0,1,36,0H179a18,18,0,0,1,18,18V78a18,18,0,0,0-18-18H0A18,18,0,0,0,18,42Z' fill='%23#{$color}'/%3E%3C/svg%3E") center/197px auto no-repeat;
}
@mixin android-icon($color: $svg-brand) {
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 21 21'%3E%3Cpath d='M21,16.62H0a11.89,11.89,0,0,1,1.93-5.3A9.87,9.87,0,0,1,5.14,8.23L5.5,8l-1.77-3a.44.44,0,0,1,.64-.58.43.43,0,0,1,.11.12L6.3,7.65a11.17,11.17,0,0,1,4.23-.78,10.75,10.75,0,0,1,4.16.78L16.5,4.59a.45.45,0,0,1,.28-.2.39.39,0,0,1,.33.06.42.42,0,0,1,.2.27.41.41,0,0,1-.06.34l-1.76,3,.43.24a9.83,9.83,0,0,1,3.18,3.17A12.74,12.74,0,0,1,21,16.62Zm-6.56-3.91a.92.92,0,0,0,.06.33.82.82,0,0,0,.48.47A.87.87,0,0,0,16.12,13a.93.93,0,0,0,.07-.33.91.91,0,0,0-.26-.62.94.94,0,0,0-.62-.26,1,1,0,0,0-.62.26,1.07,1.07,0,0,0-.19.28,1,1,0,0,0-.06.34Zm-9.63,0a.89.89,0,0,0,.87.88.87.87,0,0,0,.88-.88.9.9,0,0,0-.25-.62.88.88,0,0,0-1.24,0h0A.9.9,0,0,0,4.81,12.71Z' fill='%23#{$color}' fill-rule='evenodd'/%3E%3C/svg%3E") center/21px auto no-repeat;
}
@mixin apple-icon($color: $svg-brand) {
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 21 21'%3E%3Cpath d='M15.89,11.07A4.19,4.19,0,0,1,18,7.3a4.54,4.54,0,0,0-3.61-2c-1.51-.12-3.17.92-3.77.92s-2.11-.88-3.26-.88c-2.37,0-4.9,2-4.9,5.92a11.49,11.49,0,0,0,.61,3.61c.55,1.63,2.52,5.62,4.57,5.56,1.08,0,1.83-.8,3.23-.8s2.06.8,3.26.8c2.07,0,3.85-3.67,4.37-5.3A4.44,4.44,0,0,1,15.89,11.07Zm-2.41-7.3a4.29,4.29,0,0,0,1-3.22A4.47,4.47,0,0,0,11.61,2.1a4.32,4.32,0,0,0-1.09,3.2A3.53,3.53,0,0,0,13.48,3.77Z' fill='%23#{$color}' fill-rule='evenodd'/%3E%3C/svg%3E") center/21px auto no-repeat;
}
