.ss-modal-container {
    background-color: rgba(27, 30, 34, .75); // $gray-dark 90%

    .modal-dialog {
        max-width: 600px;
    }

    .ss-modal-large {
        max-width: 600px;
    }

    .ss-modal-qr-code-present {
        max-width: 890px;

        .modal-content {
            background-color: #f3f4f5;
        }
    }

    .ss-modal-terms-info {
        max-width: 890px;

        .modal-body {
            background-color: $white;
            border-radius: $BORDER-RADIUS;
            margin-top: 16px;
            overflow-y: auto;
        }
    }

    .modal-content {
        border-radius: $BORDER-RADIUS;
        padding: 32px 40px 30px 40px;
        margin: 0 32px;
        background-color: $bg-navbar;
        border: 0;
    }

    @include media-breakpoint-only(xs) {
        .modal-content {
            padding: 32px 16px 30px;
            margin: 8px;
        }
    }

    .ss-modal-close-x {
        align-self: end;
        box-sizing: content-box;
        width: 14px;
        height: 14px;
        padding: 0.5em 0.5em;
        background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cpath d='M.26.27a.87.87,0,0,1,1.23,0L7,5.77,12.5.27a.87.87,0,1,1,1.25,1.22l0,0L8.23,7l5.5,5.5a.87.87,0,0,1,0,1.24.86.86,0,0,1-1.21,0L7,8.25l-5.5,5.5A.87.87,0,0,1,.26,12.51L5.76,7,.26,1.51A.86.86,0,0,1,.26.27Z' fill='%23#{$svg-gray-dark}'/%3E%3C/svg%3E%0A") center/14px auto no-repeat;
        border: 0;
        border-radius: 0.375rem;
        opacity: 0.7;

        &:hover {
            opacity: 1;
        }
    }

    .ss-qrSentToEmail-success-statue {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 36px;

        @include media-breakpoint-only(xs) {
            min-height: 56px;
        }
    }
}

.ss-cookie-modal-container {
    position: fixed;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;

    .ss-cookie-modal-holder {
        background-color: $white;
        border-radius: $BORDER-RADIUS;
        padding: 24px 40px 20px;

        -webkit-box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.21);
        box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.21);
    }
}
