.ss-progress-steps-container {
    width: 100%;
    margin: 100px auto 0;
    display: flex;
    flex-direction: row;
    justify-content: center;

    ul {
        max-width: 800px;
        padding: 0;
    }
}

.ss-progress-steps {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    counter-reset: step;


    li {
        list-style-type: none;
        width: 25%;
        float: left;
        position: relative;
        text-align: center;
        color: $gray-light;

        @include media-breakpoint-only(xs) {
            &{
                font-size: 14px;
            }
        }

        &.active, &.done {
            color: $white;

            &:before {
                background-color: $gray-dark;
            }

            &:after {
                background-color: $brand;
            }

            span {
                color: $gray-dark;
            }
        }

        &.done {
            color: $white;

            &:before {
                content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='12'%3E%3Cpath d='M0,7,1.27,5.73,5.09,9.49,14.73,0,16,1.25,5.09,12Z' fill='%23#{$svg-white}' fill-rule='evenodd'/%3E%3C/svg%3E");
                background-color: $brand;
            }

            span {
                color: $gray-light;
            }
        }

        &:before {
            width: 36px;
            height: 36px;
            content: counter(step);
            counter-increment: step;
            line-height: 37px;
            display: block;
            text-align: center;
            margin: 0 auto .7em auto;
            border-radius: 50%;
            background-color: $card-bg;
        }

        &:after {
            width: 100%;
            height: 2px;
            content: '';
            position: absolute;
            background-color: $card-bg;
            top: 17px;
            left: -50%;
            z-index: -1;

            [dir='rtl'] & {
                right: -50%;
            }
        }

        &:first-child:after {
            content: none;
        }
    }
}
