.ss-user-layout-header {
    width: 100%;
    min-height: 240px;
    background-color: $bg-navbar;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.ss-filter-popover {
    position: absolute;
    color: $white;
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 12px;
}

#ss-user-plans {
    .ss-filter-btn-dropdown {
        .ss-filter-button {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 35px;
            height: 35px;
            border-radius: 8px;
            background-color: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            @include filter-icon();

            &:hover {
                @include filter-icon($svg-white);
                background-color: $gray-medium;
            }

            &.show {
                @include filter-icon($svg-white);
                background-color: $gray-medium;
            }
        }

        .dropdown-menu {
            margin: 0 !important;
            padding: 0;

            .dropdown-item {
                margin: 5px 0;

                &:hover {
                    background-color: $gray-lighter;
                    color: inherit !important;
                    border-radius: 0;
                }
            }
        }

        .ss-filter-reset-btn {
            display: flex;
            align-items: flex-start;
            padding: 10px 52px 4px;

            & > a {
                font-size: 14px;
            }
        }

        .ss-filter-item {
            font-size: 16px;
            font-weight: 600;
        }
    }

    .ss-plan-card {
        width: 100%;
        min-height: 116px;
        background-color: $bg-navbar;
        border-radius: $BORDER-RADIUS;
        padding: 40px;
        margin-bottom: 32px;
        display: flex;
        flex-direction: row;
        align-items: center;

        &.ss-disabled:not(& > .ss-cta-buttons) {
            color: $footer-text !important;

            h4,
            .ss-available-period > p,
            .ss-user-esim-countries-container {
                color: $footer-text !important;
            }

            img, .progress {
                filter: grayscale(100%)
            }

            .ss-esim-info-ditails {
                background-color: $white !important;
                color: $footer-text !important;
            }

            .ss-multi-plans-container {
                background-color: #eaeaea !important;

                .ss-esim-info-ditails {
                    background-color: transparent !important;
                }
            }
        }

        .ss-available-period-data-valume-card {
            position: absolute;
            z-index: 9;
            margin: 6px 23px 0;

            [dir=ltr] & {
                right: 0;
            }

            [dir=rtl] & {
                left: 0;
            }

            & p {
                font-size: 12px;
                color: $gray-light;
            }
        }

        .ss-esim-info-ditails {
            &:hover {
                .ss-circle-arrow-btn-holder .ss-circle-arrow-btn.ss-circle-btn-dark-card {
                    @include arrow-icon($svg-gray-dark);
                    background-color: $white;
                }
            }
        }

        .accordion, .accordion-item, .accordion-button {
            width: 100%;
            background-color: transparent;
            border: 0;
        }

        .accordion-header {
            font-weight: 400;
        }

        .accordion-button {
            padding: 0;

            &:focus, &:not(.collapsed) {
                box-shadow: none;
            }

            &:after {
                margin-top: 6px;
                @include collapse-menu-arrow();
            }

            [dir=rtl] &:after {
                margin-left: 0;
                margin-right: auto;
            }

            [dir=ltr] &:after {
                margin-left: auto;
                margin-right: 0;
            }
        }

        .accordion-body {
            padding: 40px 0 0;
            color: $gray-dark;

            .ss-multi-plans-container {
                background-color: $gray-medium;
                border-radius: $BORDER-RADIUS;
            }

            .ss-accordion-body-row {
                border-radius: $BORDER-RADIUS;

                .ss-esim-info-ditails {
                    position: relative;
                    display: flex;
                    min-height: 148px;
                    color: $white;
                    background-color: $gray-medium;
                    border-radius: $BORDER-RADIUS;
                    padding: 32px 14px 32px 23px;
                    //cursor: pointer;
                    overflow: hidden;

                    .ss-info-arrow {
                        position: absolute;
                        display: flex;
                        justify-content: flex-end;
                        bottom: 18px;
                        width: 36px;

                        [dir=ltr] & {
                            right: 18px;
                        }
                        [dir=rtl] & {
                            left: 18px;
                        }
                    }

                    .ss-edit-button {
                        position: absolute;
                        display: flex;
                        justify-content: flex-end;
                        width: 36px;
                        top: 0px;

                        [dir=ltr] & {
                            right: -12px;
                        }
                        [dir=rtl] & {
                            left: -18px;
                        }
                    }
                }

                .ss-data-volume-container {
                    position: relative;
                    min-height: 148px;
                    background-color: $white;
                    border-radius: $BORDER-RADIUS;
                    padding: 14px 23px;

                    .progress {
                        background-color: $brand-lighter;
                    }
                }

                .ss-user-esim-countries-container {
                    .ss-user-esim-countries-card {
                        background-color: $white;
                        border-radius: $BORDER-RADIUS;
                        overflow: hidden;
                        padding: 0 32px;

                        h5 {
                            font-size: 1.5rem;
                            color: $gray-dark;
                        }

                        .ss-user-esim-countries-card-item {
                            text-align: start;
                            margin: 10px 0;
                            border-radius: 8px;
                        }
                    }
                }

            }
        }
    }

}

.ss-user-no-found-countries {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 116px;
    background-color: $bg-navbar;
    border-radius: $BORDER-RADIUS;
    padding: 36px 40px;
    margin-bottom: 32px;
}

#ss-user-history {

    .ss-user-history-row {
        //display: flex;
        //flex-direction: row;
        //align-items: center;
        //justify-content: space-between;
        //width: 100%;
        min-height: 116px;
        background-color: $bg-navbar;
        border-radius: $BORDER-RADIUS;
        padding: 36px 40px;
        margin-bottom: 32px;
        overflow: hidden;
    }
}

#ss-user-account-info {
    .ss-gray-page-container {
        min-height: auto;
        padding: 40px 40px 40px;
        background-color: $card-bg;
        border-radius: $BORDER-RADIUS;
    }
}

.ss-purchesing-flow {
    .ss-gray-container {
        padding: 32px 40px 24px 40px;
        background-color: $card-bg;
        border-radius: $BORDER-RADIUS;

        .ss-pay-cards {
            img:not(:last-child) {
                margin-inline-end: 16px;
            }
        }

        .ss-line-divider {
            border-top: 1px solid $gray-light;
            margin-top: 16px;
            padding-top: 16px;
        }

        .ss-qr-code-holder {
            display: flex;
            justify-content: center;
            background-color: $white;
            border-radius: $BORDER-RADIUS - 6;
            padding: 30px;

            .ss-qr-code-border {
                border: 6px solid $gray-light;
                border-radius: 6px;
            }
        }
    }
}

section#esimScreen {
    .ss-phone-model:hover {
        background-color: $gray-lighter;
        border-radius: $BORDER-RADIUS;
    }
}
