.cc-navbar-bg {
    transition: background .3s ease, box-shadow .3s ease;
    -webkit-backdrop-filter: saturate(180%) blur(5px);
    backdrop-filter: saturate(180%) blur(5px);
    background: hsla(0, 0%, 100%, .6);
}
