//@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100;200;300;400;500;600;700;900&family=Noto+Sans+Hebrew:wght@100;200;300;400;500;600;700&family=Outfit:wght@400;500;600;700&display=swap');

$navbar-height: 68px;
$BORDER-RADIUS: 18px;

$svg-white: 'ffffff';
$svg-gray-medium: '323c46';
$svg-gray-dark: '1b1e22';
$svg-brand: '007efc';
$svg-footer-text: 'a3a4a5';
$svg-gray-light: '75808a';
$svg-bg-body: 'f0f0f0';
$img-dir: '/./assets/images/';

$white: #ffffff;
$brand: #007efc;
$brand-light: #238fff;
$brand-lighter: #c8e1fb;
$brand-dark: #016cd5;
$error: #ef3e63;
$gray-dark: #1b1e22;
$gray-medium: #323c46;
$gray-light: #75808a;
$gray-lighter: #ebeced;
$bg-body: #f0f0f0;
$bg-navbar: #f2f3f4;
$navbar-border: #dfe3e7;
$footer-text: #a3a4a5;
$footer-text-dark: #5e6163;
$card-bg: #f3f4f5;

.cc-01combine-app {

}

// export to next scss vars
:export {
    brandColor: $brand;
}

